*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-image: linear-gradient(to bottom right, rgb(95, 0, 136), rgb(56, 209, 255));
}
.ar-vegetable-farm-ctrl{
    display: grid;
    justify-content: center;
}
.ar-vegetable-ctrl-manue{
    width: 1280px;
    height: 1200px;
    display: flex;
    flex-direction: row;
}
.ar-vegetable-image{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
.ctrl-mn-top-dis-temp-and-humidity{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: red;
}
.ctrl-mn-list-scl-tree{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
}
.ar-ctrl-row{
    margin-top: 10px;
    margin-right: 19px;
    width: 45%;
    height: 100px;
    background-color: lightgray;
}
.ar-show-plant-pot-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.ar-pot-list{
    cursor: pointer;
    width: 308px;
    height: 283px;
    background-color: white;
    border: 1px solid lightgray;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 12px;
}
.ar-vegt-shw-items{
    margin-top: 100px;
}
.pot-image{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
/* control panel */
.ar-md-vege-detail{
    /* display: none; */
    width: 1280px;
    top: 100px;
    position: absolute;
    border-radius: 12px;
}
.md-vege-dt-l-r-ctrl{
    display: flex;
}
.ar-vege-dt-left-ctrl{
    height: auto;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    display: none;
}
.ar-vege-dt-right-image{
    height: auto;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    border-radius: 12px;
    display: none;
}
.ar-top-ctrl-shw-temp-and-tm{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 150px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.ar-vege-table-data{
    padding: 10px;
}
.ar-vege-detail{
    margin-top: 20px;
    /* border: 1px solid black; */
    width: 470px;
    word-wrap: break-word;
}
.vege-dt-txt{
    text-indent: 40px;
}
.ar-vege-control{
    display: flex;
    margin-top: 20px;
}
.image-width{
    width: 237px;
}
.btn-ctrl-plant-feture{
    border: 1px solid lightgray;
    border-radius: 12px;
    width: 150px;
    height: 100px;
    margin-left: 10px;
    text-align: center;
}
.wt-icon{
    margin-top: 10px;
    width: 80px;
}
.btn-ctrl-plant-feture:hover{
    cursor: pointer;
    border: 1px solid red;
}
.ar-vege-title{
    margin-top: 10px;
}
.btn-close-pot-md{
    padding: 10px;
    text-align: right;
    cursor: pointer;
}
.ar-vege-dt-pot-right-img{
    padding: 100px;
}
.set-vgt-slide{
    display: none;
}
.md-image-width-2{
    width: 549px;
}
.plant-name{
    margin-left: 30px;
}
.data-from-iot{
    margin-top: 10px;
    display: flex;
}
.set-icon-size{
    font-size: 40px;
}
.inf-from-iot-del{
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    width: 150px;
}
.inf-icon{
    text-align: center;
}
.inf-data{
    text-align: center;
    margin-top: 10px;
}
.oth-control,.ar-btn-set-time,.ar-set-time-val{
    margin-top: 10px;
}
.ar-set-time-val{
    margin-left: 10px;
}
.btn-set-time{
    width: 100%;
    padding: 5px;
    border: none;
    height: 40px;
}
.btn-set-time:hover{
    cursor: pointer;
}
.inp-time{
    padding: 6px;
    border-radius: 4px;
    width: 125px;
    border: 1px solid lightgray;
}
.time-close{
    margin-top: 10px;
}
.ar-vege-control-status{
    height: 380px;
    width: 200px;
    text-align: center;
    position: absolute;
    margin-left: 150px;
}
.water-status{
    display: none;
}
.vgt-link-to-home{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}